.body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media (min-height: 100vh) {
  .body {
    height: max-content;
  }
}

@media (max-width: 667px) {
  .body {
    flex-direction: column;
    padding-top: 3rem;
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100vh;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

@media (max-width: 667px) {
  .leftSide {
    width: 100%;
    height: 50vh;
  }
  .rightSide {
    width: 100%;
    height: 50vh;
  }
}

.technologies {
  background: rgb(200, 200, 200);
  border-radius: 5rem;
  overflow: hidden;
  margin-top: 1rem;
}

.logosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2rem;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  animation: movement 10s linear infinite;
}

@keyframes movement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.title {
  font-size: clamp(5vh, 1vh + 9vw, 10vh);
  font-weight: bold;
}

.imgContainer {
  background-image: url("../../public/assets/robot.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 80%;
  width: 80%;
  border-radius: 3rem 10rem;
  display: flex;
  justify-content: end;
  align-items: end;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}

.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.code {
  font-size: 5rem;
  color: white;
}

.codeText {
  color: white;
  font-weight: bold;
}

.arrows {
  font-size: 1.5rem;
  font-weight: 800;
  width: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.intro {
  border-right: 2px solid;
  animation: cursor 0.5s step-end infinite alternate;
}

.wrapper {
  display: inline-block;
  width: fit-content;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.animatedText {
  font-size: 3vh;
  font-weight: bold;
  color: #666666;
}

.topArrow {
  font-size: 3rem;
  margin-top: 0.5rem;
}
