.body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media (min-height: 100vh) {
  .body {
    height: max-content;
  }
}

@media (max-width: 667px) {
  .body {
    flex-direction: column;
    padding-top: 3rem;
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 95vh;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

@media (max-width: 667px) {
  .leftSide {
    width: 100%;
    height: max-content;
  }
  .rightSide {
    width: 100%;
    height: max-content;
    margin-top: 1rem;
  }
  .code {
    font-size: 3rem;
  }

  .codeText {
    font-size: 10px;
  }
}

.technologies {
  background: rgb(200, 200, 200);
  transform: skew(-10deg);
  margin: 1rem;
  overflow: hidden;
  margin-top: 1rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.logosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.3rem;
  animation: movement 15s linear infinite;
  font-size: clamp(3vh, 3vh + 2vw, 5vh);
}

@keyframes movement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.title {
  font-size: clamp(5vh, 1vh + 9vw, 10vh);
  font-weight: bold;
}

.imgContainer {
  background-image: url("../../public/assets/robot.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 80%;
  width: 80%;
  border-radius: 3rem 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}

.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.code {
  font-size: 5rem;
  color: white;
}

.codeText {
  color: white;
  font-weight: bold;
}

.arrows {
  background: #06141b;
  color: white;
  width: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 667px) {
  .arrows {
    width: 100%;
    margin-top: 0.5rem;
    height: max-content;
    margin-bottom: 0.5rem;
  }
}

.textBox {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.textHeader {
  border: 1px white solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.textLogo {
  font-size: 1.5rem;
  animation: rounded 1s linear infinite;
}

@keyframes rounded {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.intro {
  border-right: 2px solid;
  animation: cursor 0.5s step-end infinite alternate;
}

.wrapper {
  display: inline-block;
  width: fit-content;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.animatedText {
  font-size: 3vh;
  font-weight: bold;
  color: #666666;
}

.topArrow {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.imgText {
  width: 0;
  font-size: clamp(4rem, 4rem + 3rem, 7rem);
  transform: rotateZ(-90deg);
  display: flex;
  color: rgb(203, 203, 203);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  animation: glitch 2s infinite linear;
}

@keyframes glitch {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  43% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 667px) {
  .imgText {
    width: max-content;
    font-size: clamp(2rem, 2rem + 2rem, 4rem);
    transform: rotateZ(0deg);
  }
  .social {
    justify-content: center;
  }
  .topArrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-height: 880px) {
  .imgText {
    width: max-content;
    font-size: clamp(2rem, 2rem + 2rem, 4rem);
    transform: rotateZ(0deg);
  }
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.bounce {
  background: #1e1e1e;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.3rem;
  animation: bouncing 2s ease-in;
  box-sizing: border-box;
}

.bounce:hover {
  background: transparent;
  color: #1e1e1e;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid #1e1e1e;
  cursor: pointer;
}
