.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  justify-content: center;
}

@media (min-height: 100vh) {
  .body {
    height: max-content;
  }
}

@media (max-height: 768px) {
  .body {
    padding-top: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 95vh;
}

.title {
  font-size: clamp(5vh, 1vh + 9vw, 10vh);
  font-weight: bold;
}

.archive {
  height: fit-content;
  margin: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
