.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbarContainer {
  max-width: max-content;
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: column;
}
